/* Declaração de Variaveis */
:root {
    --header-height: 3rem;
    --nav-width: 324px;

    /* = Font Weight = */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* = Colors = */
    --first-color: #cc4b2c;
    --first-color-dark: #662616;
    --first-color-darken: #290f09;
    --text-color: #54423d;
    --first-color-light: #eae7e6;
    --first-color-lighten: #fffafa;

    /* = font e styles */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smailler-font-size: .75rem;

    /* = margens = */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* = z index = */
    --z-fixed: 100;
}

/* = Media Querie = */
@media  sceen and (min-width: 768px) { 
    :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smailler-font-size: .813rem;
    }
}

/* = estrutura base & resets = */
*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, p {
    margin: 0;
}
h3  {
    font-weight: var(--font-semi-bold);
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
img {
    width: 100%;
    height: auto;
    display: block;
}

/* Declaração de Class */
.section {
    padding: 4rem 0 2rem;
}
.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}
.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}

/* = Formato da Pagina = */
.bg-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-left: var(--mb-2);
}
.header-l {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgb(0, 0, 0, .1);
}

/* = Nav = */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--first-color);
    transition: .5s;
}
.nav-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: var(--first-color-dark);
    cursor: pointer;
}
.nav-item {
    margin-bottom: var(--mb-4);
}
.nav-link {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--first-color-lighten);
    font-size: var(--font-bold);
    transition: .3s;
}
.nav-link:hover {
    color: var(--text-color);
}
.nav-toggle {
    color: var(--first-color-dark);
    font-size: 1.3rem;
    cursor: pointer;
}
/* = Show Menu = */
.show {
    left: 0;
}
/*  = Active Menu */
.active {
    color: var(--text-color);
}

/*  = Home = */
.home-container {
    height: calc(100vh - var(--header-height));
    align-items: center;
}
.home-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}