/* Declaração de Variaveis */
:root {
    --header-height: 3rem;
    --nav-width: 324px;

    /* = Font Weight = */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* = Colors = */
    --first-color: #cc4b2c;
    --first-color-dark: #662616;
    --first-color-darken: #290f09;
    --text-color: #54423d;
    --first-color-light: #eae7e6;
    --first-color-lighten: #fffafa;

    /* = font e styles */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --small-font-size: .75rem;

    /* = margens = */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* = z index = */
    --z-fixed: 100;
}

/* = Media Querie = */
@media  sceen and (min-width: 768px) { 
    :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --small-font-size: .813rem;
    }
}

/* = estrutura base & resets = */
*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, p {
    margin: 0;
}
h3  {
    font-weight: var(--font-semi-bold);
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
img {
    width: 100%;
    height: auto;
    display: block;
}

/* Declaração de Class */
.section {
    padding: 4rem 0 2rem;
}
.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}
.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}

/* = Formato da Pagina = */
.bg-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-left: var(--mb-2);
}
.header-l {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgb(0, 0, 0, .1);
}

/* = Nav = */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--first-color);
    transition: .5s;
}
.nav-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: var(--first-color-dark);
    cursor: pointer;
}
.nav-item {
    margin-bottom: var(--mb-4);
}
.nav-link {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--first-color-lighten);
    font-size: var(--font-bold);
    transition: .3s;
}
.nav-link:hover {
    color: var(--text-color);
}
.nav-toggle {
    color: var(--first-color-dark);
    font-size: 1.3rem;
    cursor: pointer;
}
/* = Show Menu = */
.show {
    left: 0;
}
/*  = Active Menu */
.active {
    color: var(--text-color);
}

/*  = Home = */
.home-container {
    height: calc(100vh - var(--header-height));
    align-items: center;
}
.home-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}
.home-img {
    /* padding-top: 1.3;
    padding-left: .8rem; */
    width: 160px;
    height: 160px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
}
.home-img img {
    width: 165px;
}
.home-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}
.home-profession {
    font-size: var(--smailler-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-5);
}
.home-social {
    margin-bottom: 5rem;
}
.home-social-link {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}
.home-social-link:hover {
    background-color: var(--first-color-dark);
}
.home-button {
    width: 100%;
}

/*  = Button = */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: 5rem;
    transition: .3s;
}
.button:hover {
    background-color: var(--first-color-dark);
}
.button-light {
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}
.button-light:hover {
    color: var(--first-color-lighten);
}

/*  = About = */
.about-container {
    /* row-gap: 2rem; */
    padding-left: 2rem;
}
.about-data {
    text-align: center;
}
.about-description {
    margin-bottom: var(--mb-4);
}
.about-img {
    width: 150px;
    border-radius: .5rem;
    margin: 0 auto;
}
.about-information {
    margin-bottom: var(--mb-4);
}
.about-information-title {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}
.about-information-data {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}
.about-information-icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-4);
}
.about-information-subtitle {
    display: block;
    font-weight: var(--font-semi-bold);
}
.about-information-subtitle-small {
    font-size: var(--small-font-size);
}

/* = Skills = */
.skills-container {
    /* row-gap: 2rem; */
    /* Add padding-lefet, pois o row-gap não esta funcionando */
    padding-left: 2rem; 
}
.skills-subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}
.skills-data {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
}
.skills-name {
    text-transform: uppercase;
}
.skills-bar {
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: var(--first-color);
}
/* = Skills FrontEnd = */
.skills-html {
    width: 75%;
}
.skills-js {
    width: 70%;
}
.skills-react {
    width: 40%;
}
.skills-figma {
    width: 70%;
}

/* = Skills BackEnd = */
.skills-aws {
    width: 40%;
}
.skills-mysql {
    width: 40%;
}
.skills-python {
    width: 30%;
}

/*  = Education = */

.education-container {
    /* row-gap: 2rem; */
    padding-left: 2rem;
    /* Add padding-lefet, pois o row-gap não esta funcionando */
}
.education-content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}
.education-year, .education-race {
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}
.education-university, .education-specialty {
    display: block;
    font-size: var(--small-font-size);
}
.education-year, .education-university {
    text-align: right;
}
.education-time {
    padding: 0 1rem;
    justify-content: center;
}
.education-rounder {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
}
.education-rounder::before {
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
}
.education-line {
    display: block;
    height: 50%;
    width: 2px;
    background-color: var(--first-color);
    transform: translate(5px, -4px);
}

/* = Services = */
.services-container {
    /* row-gap: 2rem; */
    padding-left: 2rem;
}
.services-content {
    padding: 1.5rem .5rem;
    border: 2px solid var(--first-color);
    border-radius: .5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.services-icon {
    font-size: 2rem;
    padding: .5rem;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    border-radius: 50%;
    margin-bottom: var(--mb-2);
}
.services-title {
    font-size: 1.25rem;
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}
.services-content,
.services-icon,
.services-description,
.services-title {
    transition: .5s;
}
.services-content:hover {
    background-color: var(--first-color);
}
.services-content:hover .services-icon {
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}
.services-content:hover .services-title {
    color: var(--first-color-lighten);
}
.services-content:hover .services-description {
    color: var(--first-color-lighten);
}

/* = Project = */
.project {
    background-color: var(--first-color);
    padding-bottom: 0;
}
.project-container {
    /* row-gap: 2rem; */
    padding-left: 2rem;
}
.project-data {
    text-align: center;
}
.project-title, .project-description {
    color: var(--first-color-lighten);
}
.project-description {
    margin-bottom: var(--mb-4);
}
.project-img {
    width: 220px;
    padding-top: 2rem;
   margin: auto; 
}
/* .project-img img {
    justify-self: center;
} */

/* = Works = */
.works-container {
    justify-content: center;
    row-gap: 2rem;
}
.works-img {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}
.works-data {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 75, 44, .7);
    border-radius: .5rem;
    transition: .3s;
}
.works-link {
    display: inline-flex;
    font-size: 1.5rem;
    background-color: var(--first-color-lighten);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    margin-bottom: var(--mb-2);
}
.works-title {
    font-size: var(--h2-font-size);
    color: var(--first-color-lighten);
}
.works-img:hover .works-data {
    bottom: 0;
}
